body {
  background: #000;
}

main {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 600px;
  min-width: 400px;
  padding: 20px 0;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  display: grid;
  justify-content: stretch;
}

.wrapper {
  width: 100%;
  text-align: center;
}

.wrapper input[type="range"] {
  display: inline-block;
  width: 80%;
  margin-left: 10px;
  margin-top: 25px;
}

#output {
  text-align: center;
  display: inline-block;
  background: #0075ff;
  width: fit-content;
  margin: 30px auto 5px auto;
  color: #fff;
  padding: 10px 30px;
  letter-spacing: 0.5px;
  border-radius: 2.5px;
  cursor: pointer;
}

.copied-color {
  visibility: hidden;
  font-size: 12px;
  text-align: center;
  margin-bottom: 15px;
  color: rgb(40, 202, 40);
}

